<launch>
 <node pkg = "launcher_state_machine" type="launcher_state_machine_node" name="launcher"  respawn="true" output="screen"/>
 <node pkg = "database" type = "scrubber_database" name = "scrubber_database" respawn="true" output="screen">
  <param name = "db_path" type = "string" value = "$(find database)/db/test.db"/>
 </node>
 <node pkg = "scrubber" type="scrubber_node" name="scrubber"  respawn="true" output="screen"/>
 <!-- RoboScrub
  <param name="robot_description" command="$(find xacro)/xacro '$(find CleaningCar)/urdf/CleaningCar.urdf.xacro'"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
 -->
</launch>
